.search-form {
  input {
    border-radius: 10px;
    border: none;
    padding: 3px 5px;

    margin-right: 20px;
  }

  button {
    border: none;
    border-radius: 10px;
    padding: 3px 10px;

    color: teal;
    background-color: bisque;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;

    &:hover {
      cursor: pointer;
      color: whitesmoke;
      background-color: tomato;
    }
  }

  &__wrapper {
    background-color: teal;
    padding-top: 25px;
    padding-bottom: 25px;

    display: flex;
    justify-content: space-around;

    margin-bottom: 20px;
  }
}

.gallery {
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .photo-card {
    margin: 0 auto;
    height: 300px;
    width: 24%;

    img {
      display: block;
      height: 250px;
      width: 346px;
      // object-fit: cover;
    }
  }
}

.info {
  display: flex;
  justify-content: space-between;

  &-card {
    width: 20%;
  }
}
